.container {
    text-align: center;
    border: 2px solid green;
    margin: 30px;
    padding: 10px;
    position: absolute;
    width: 40%;
    right: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}